header {
    background: var(--cor-header);
    color: white;
    padding: 20px;
    text-align: center;
}

nav {
    margin-top: 10px;
}

main {
    padding: 20px;
}

.produtos {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 20px;
}

footer {
    background: var(--cor-secundaria);
    color: #2a0025;
    text-align: center;
    padding: 15px;
}

/* RESPONSIVO */
@media (max-width: 600px) {
    header h1 {
        font-size: 1.5rem;
    }
}