.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
}

:focus {
    outline: none;
}

:focus-visible {
    outline: 3px solid var(--cor-secundaria);
    outline-offset: 3px;
    border-radius: var(--radius);
}